# 1.extract features
a.features and target should not have any null values
b.features should be numeric
c.feature should be of the type array/dataframe
d.feature should be having some rows and columns
2.split the dataset into training and testing datasets
e.features should be on the training set
3.train the model on the traning set
4.test the model on the testing set

In [1]:
import pandas as pd

In [2]:
 df=pd.read_csv("E:/csv file/gapminder.csv")

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
y=df["fertility"]

In [5]:
df["fertility"].value_counts()

1.43    3
1.89    3
1.42    3
4.79    2
1.49    2
       ..
6.02    1
1.47    1
3.58    1
4.28    1
3.06    1
Name: fertility, Length: 116, dtype: int64

1

In [6]:
x=df.drop("fertility",axis=1)

In [7]:
x

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific
...,...,...,...,...,...,...,...,...,...
134,3350832.0,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,America
135,26952719.0,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,Europe & Central Asia
136,86589342.0,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,East Asia & Pacific
137,13114579.0,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,Sub-Saharan Africa
138,13495462.0,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,Sub-Saharan Africa

In [8]:
x.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [9]:
x.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [10]:
x.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [11]:
x=pd.get_dummies(x,columns=["Region"],drop_first=True)

In [12]:
x.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [13]:
x.dtypes

population                           float64
HIV                                  float64
CO2                                  float64
BMI_male                             float64
GDP                                  float64
BMI_female                           float64
life                                 float64
child_mortality                      float64
Region_East Asia & Pacific             uint8
Region_Europe & Central Asia           uint8
Region_Middle East & North Africa      uint8
Region_South Asia                      uint8
Region_Sub-Saharan Africa              uint8
dtype: object

In [14]:
type(x)

pandas.core.frame.DataFrame

In [15]:
x.shape

(139, 13)

2

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [18]:
x.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
Scaler=MinMaxScaler()

In [21]:
x_train=Scaler.fit_transform(x_train)

In [22]:
x_test=Scaler.transform(x_test)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model=LinearRegression()

In [25]:
model.fit(x_train,y_train)

LinearRegression()

In [26]:
model.score(x_test,y_test)

0.880326468970407

In [27]:
data=pd.read_csv("E:/sk.csv")

In [28]:
data

,0,2,3,4,5,6,7,8,9,10,11,12,13
0,34811059.0,0.1,3.328945,24.5962,12314.0,129.9049,75.3,29.5,0,1,0,0,0

In [29]:
data.shape

(1, 13)

In [30]:
data_Scaled=Scaler.transform(data)

In [31]:
data.shape

(1, 13)

In [32]:
model.predict(data_Scaled)

array([1.98776127])

AdaBoostRegressor

In [33]:
from sklearn.ensemble import AdaBoostRegressor

In [34]:
boost=AdaBoostRegressor()

In [35]:
boost.fit(x_train,y_train)

AdaBoostRegressor()

In [36]:
boost.score(x_test,y_test)

0.8802581007892819

GradientBoostRegressor

In [38]:
from sklearn.ensemble import GradientBoostingRegressor

In [39]:
gradient=GradientBoostingRegressor()

In [40]:
gradient.fit(x_train,y_train)

GradientBoostingRegressor()

In [41]:
gradient.score(x_test,y_test)

0.9026123494042052